<html>
 
<head>
    <meta charset='utf-8' />
    <title></title>
    <style>
        .siteTitle {
            display: block;
            font-weight: 900;
            font-size: 30px;
            margin: 20px 0;
        }
 
        .card {
            height: 400px;
            position: relative;
            padding: 20px;
            box-sizing: border-box;
            text-decoration: none;
            margin-bottom: 20px;
        }
 
        .inner {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: white;
            box-sizing: border-box;
            padding: 40px;
 
 
        }
 
        .title {
            font-size: 24px;
            color: black;
            text-align: center;
            font-weight: 700;
            color: #181818;
            text-shadow: 0px 2px 2px #a6f8d5;
            position: relative;
            margin: 0 0 20px 0;
        }

        p {
          margin-top: -10px;
          margin-left: 25px;
        }

    </style>
</head>
 
  <body>
    <div>
      <div>
        <h2>Congrats, {{superHero.name}} for booking with us!!!</h2>
        <br/>
        <p>Room Name: {{superHero.roomName}}</p>
        <br/>
        <p>Room Number: {{superHero.roomNumber}}</p>
        <br/>
        <p>Check In Date: {{superHero.checkIn}}</p>
        <br/>
        <p>Check Out Date: {{superHero.checkOut}}</p>
        <br/>
        <p>Total: {{superHero.price}}</p>
      </div>
    </div>
  </body>
 
</html>